// custom variable overwrites
// https://getbootstrap.com/docs/4.3/getting-started/theming/

$font-family-sans-serif: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
  Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Source Code Pro", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New",
  monospace;
$font-family-serif: "Source Serif Pro", serif;
$web-font-path: "https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap";
// not use currently: $web-font-path: "https://fonts.googleapis.com/css?family=Source+Code+Pro|Source+Sans+Pro|Source+Serif+Pro&display=swap";
$font-size-base: 0.8rem;
$enable-responsive-font-sizes: true;
$rfs-base-font-size: 0.5rem;

// redefine some colors to better match Enneagram colors from below
$green: #00c03e; // Ennea color 5 #18BC9C !default
$yellow: yellow; // Ennea color 3 #F39C12 !default
$gray-500: #b4bcc2 !default;
$success: $gray-500; // $green !default;
// or better: redefine the hover color?

@import "bootswatch_variables";

// colors for Ennagram types

$colors: (
  1: #ff5c00,
  2: $orange,
  3: yellow,
  //#ff0,
    4: #3eff00,
  5: $green,
  6: $indigo,
  //#00f,
    7: #5f00a2,
  8: $purple,
  //#a400c5,
    9: $red,
  //#f00,,,,,,,,,,,,
);
